.footer__line {
    width: 100%;
    height: 1.5px;
    background: #F3F3F3;
    border: none;
    margin-top: 31px;
    margin-bottom: 40px;
    opacity: 0.5;
    

}
@media(max-width:991px){
    .footer__line {
        margin-top: 17px;
        margin-bottom: 29px;
    }
}