.question {
    min-height: 980px;
    padding: 181px 0 220px 0;
    background: #FFF5F3;
    &__info {
        font-weight: 700;
        font-size: 40px;
        text-align: center;
        color: #6C6C6C;
        margin-top: 87px;
      
    }
}

@media(max-width:1199px){
    .question {
        padding-top: 100px;
    }
}


@media(max-width:991px){
    .question {
        min-height: 802px;
        padding: 50px 0 100px 0;
    }
}

@media(max-width:575px){
    .question {
        &__info {
            font-size: 30px;
        }
    }
}